<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Detail Film</h2>
    <h3><%= movie[0].title %></h3>
    <p>Tahun Rilis: <%= movie[0].year %></p>
    <p>Genre: <%= movie[0].genres %></p>
    <p>Photo: <%= movie[0].photo %></p>

</body>
</html>